@font-face {
	    font-family: 'Arimo';
	    src: url(../fonts/arimo.ttf);
  }

.block6 {
    height: 131px;
    background-color: #eeeeee;
    text-align: center;
    font-family: 'Arimo';
    font-size: 13px;
    line-height:131px;
    color: #3f4950;
}

.block6__logo {
    vertical-align: middle;
    margin-bottom: 1.9%;
}

.block6 a {
    color: #3f4950;
}