.block4 {
    background-color: #f0f0f0;
    height: 974px;
    position: relative;
}


.block4__trapezoid-left {
	position: absolute;
	border-left: 0px solid transparent;
	height: 0;
    bottom: 0;
    width: 47.3%;
    border-right: 36px solid transparent;
    border-bottom: 31px solid white;
}

.block4__trapezoid-right {
	position: absolute;
	border-right: 0px solid transparent;
	height: 0;
    margin-left: 50%;
    right: 0;
    bottom: 0;
    width: 47.3%;
	border-left: 36px solid transparent;
    border-bottom: 31px solid white;
}