@import url(http://allfont.ru/allfont.css?fonts=pt-sans);

.block2 {
    background-color: #ffffff;
    height: 606px;
    display: flex;
    justify-content: center;
}

.block2-items {
    display: flex;
    align-items: center;
    height: auto;
    justify-content: space-around;
    width: 77%;
    margin-top: -30px;
}

.block2-item__txt {
    margin-top: 40px;
    text-align: center;
    font-family: 'PT Sans', arial;
    font-size: 19px;
    color: #37474F;
}

.block2-item__img {
    text-align: center;
}