
.block4 {
    position: relative;
    height: 974px;
    background: linear-gradient(to bottom, #ffffff, #ededed);
    overflow: hidden;
}

.block4-flex {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    top: 9%;
    margin-top: 4%;
}

/*Окно диалога(картинка)*/
.block4-imgcontainer {
    position: relative;
    width: 50%;
}
.block4__img {
    margin-left: 21.2%;
    box-shadow: 3px 9px 20px rgba(93,93,93,0.1),
         -3px -3px 20px rgba(93,93,93,0.1);
    max-height: 400px;
    max-width: 362px;
}


/*1 элемент*/
.block4-item1 {
    width: 50%;
    margin-top: 3%;
    position: relative;
    min-width: 250px;
}
.block4-item1__img {
    position: relative;
    display: inline;
}
.block4-item1__txt1 {
    position: relative;
    margin-left: 52px;
    top: -58px;
    left: 5.5%;
}
.block4-item1__txt2 {
    display: inline;
    position: relative;
    top: -56px;
    left: 5.5%;
    margin-left: 52px;
}


/*2 элемент*/
.block4-item2 {
    width: 50%;
    margin-top: 14.6%;
    position: relative;
    min-width: 250px;
}
.block4-item2__img {
    position: relative;
    display: inline;
    left: 21.1%;
}
.block4-item2__txt1 {
    display: inline;
    position: relative;
    top: -28px;
    left: 26.6%;
}
.block4-item2__txt2 {
    position: relative;
    margin-left: 52px;
    top: -26px;
    left: 26.6%;
}


/*3 элемент*/
.block4-item3 {
    width: 50%;
    margin-top: 14.6%;
    position: relative;
    min-width: 250px;
}
.block4-item3__img {
    position: relative;
    display: inline;
}
.block4-item3__txt1 {
    position: relative;
    margin-left: 52px;
    top: -50px;
    left: 5.5%;
}
.block4-item3__txt2 {
    display: inline;
    position: relative;
    top: -50px;
    left: 5.5%;
    margin-left: 52px;
}



.block4-txtbig {
    font-size: 35px;
    font-family: 'PT Sans', arial;
    color: #37474F;
    line-height: 1.2;
}

.block4-txtsmall {
    font-family: 'PT Sans', arial;
    color: #37474F;
    font-size: 20px;
}

.block4__trapezoid-left {
    position: absolute;
    border-left: 0px solid transparent; 
    height: 0; 
    bottom: 0;
    right: 50%;
    width: 50%; 
    border-right: 43px solid transparent; 
    border-bottom: 43px solid white;  
}

.block4__trapezoid-right {
    left: 50%;
    position: absolute; 
    border-right: 0px solid transparent; 
    height: 0; 
    right: 0;
    bottom: 0; 
    width: 50%; 
    border-left: 43px solid transparent; 
    border-bottom: 43px solid white; 
}
