@font-face {
	    font-family: UniSansThinCAPS;
	    src: url(../fonts/UniSansThin.otf);
     font-weight: 600;
  }

@font-face {
	    font-family: 'pt sans bold';
	    src: url(../fonts/pt-sans-bold.ttf);
     font-weight: 600;
  }

@font-face {
	    font-family: 'pt sans';
	    src: url(../fonts/pt-sans.ttf);
  }

h1 {
    margin: 0;
}

.block1 {
    background-image: url(../img/block1-background.jpg);
    height: 588px;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.block1__text {
    position: relative;
    width: 100%;
    margin-top: 150px; 
}

.block1__h2 {
    position: relative;
    margin: 0 auto;
    margin-top: -8px;
    color: white;
    font-size: 23px;
    width: 561px;
    font-family: 'pt sans bold';
}

.block1__LEADGEN {
    position: relative;
    margin: 0 auto;
    color: white;
    font-family: UniSansThinCAPS;
    font-size: 60px;
    text-shadow: -1px 2px 4px rgba(0,0,0,0.5),
        1px 0px 4px rgba(0,0,0,0.5);
    width: 500px;
}

.block1__trapezoid-left {
    position: absolute; 
border-left: 0px solid transparent; 
height: 0; 
bottom: 0; 
right: 50%;
width: 50%; 
border-right: 36px solid transparent; 
border-bottom: 31px solid white;  
}

.block1__trapezoid-right {
position: absolute; 
border-right: 0px solid transparent; 
height: 0; 
left: 50%;
bottom: 0; 
width: 50%; 
border-left: 36px solid transparent; 
border-bottom: 31px solid white; 
}