@font-face {
	    font-family: 'pt sans bold';
	    src: url(../fonts/pt-sans-bold.ttf);
     font-weight: 600;
  }

.block5 {
    background-color: #ffffff;
    height: 420px;
}

.block5__h2 {
    font-size: 23px;
    width: 100px;
    font-family: 'pt sans bold';
    color: #37474F;
    position: relative;
    width: 510px;
    margin: 0 auto;
    top: 75px;
    left: 3%;
}

.block5-items {
    display: flex;
    width: 76%;
    margin-top: 140px;
    margin-left: 12%;
}

.block5-items__item {
    display: flex;
    align-items: center;
    height: 100px;
    justify-content: space-around;
    width: 100%;
}

.block5__img--animated {
    filter: grayscale(100%);
    transition: all 0.3s ease-in-out;
}

.block5__img--animated:hover {
    filter: grayscale(0%);
}