@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic');

.defolt-h2--white, .defolt-h2--black {
    position: relative;
    margin: 0 auto;
    margin-top: -8px;
    color: white;
    font-size: 23px;
    width: 581px;
    font-family: 'PT Sans', sans-serif;
}

.defolt-h2--black {
    color: #37474F;
    position: absolute;
    margin: 0 auto;
    width: auto;
    margin-top: 50px;
}