@import url(block1.css);
@import url(block2.css);
@import url(block3.css);
@import url(block4.css);
@import url(block5.css);
@import url(block6.css);
@import url(defolt-h2.css);

body {
    margin: 0;
}

/*

.footer {
    background-color: #f0f0f0;
    height: 131px;
}
*/